.main-footer{
    background-color: var(--bg-gray);
    border: 1px solid  var(--bd-red);
}

.footer-section{
    outline: solid 1px #303030;
    padding: 0.8em;
}

.footer-section ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 15px;
    padding: 0.8em;
}

.footer-section ul li{
    text-align: center;

}

.footer-section a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: #9ca3af; 
}

.footer-section a:hover{
    color: #FF6B35;

}

.footer-section h3{
    color:white;
}

.section-atencion-cliente,
.section-comunidad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-redes ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.section-redes a{
    font-size: 2rem;
}

.footer-copyright{
    color:white;
    padding: 0.5em;
}

.footer-copyright p{
    text-align: center;
    padding: 0.5em;
}

