.seccion-recommend{
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-recommend{
    text-align: center;
    padding: 0.5em;
    color: var(--bg-orange);
    font-size: 1.5rem;
    border: 1px solid var(--bd-red);
    margin: 0.4em;
    border-radius: 8px;
    background-color: var(--bg-gray);
}

.ul-games{
    display: flex;
    gap:10px;
    overflow-x: auto ;
    flex-wrap: nowrap;
    padding: 0.8em 1em;
    align-items: stretch;
}


.ul-games::-webkit-scrollbar {
    height: 8px; 
}

/* 2. Quitamos las flechas molestas de los lados */
.ul-games::-webkit-scrollbar-button {
    display: none;
}

/* 3. El carril de fondo (Track) usando tu variable de color gris */
.ul-games::-webkit-scrollbar-track {
    background-color: var(--bg-gray);
    border-radius: 10px;
}

/* 4. El selector móvil (Thumb) usando tu variable de color rojo */
.ul-games::-webkit-scrollbar-thumb {
    background-color: var(--bd-red);
    border-radius: 10px;
}

.card-game{
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    min-height: 420px;
    border: solid 1px var(--bg-orange);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    gap:10px
}

.card-game:hover{
    transform: translateY(-10px);
}

.card-game img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-card{
    padding: 0 0.6em;
}

.header-card h3{
    font-size: 1.2rem;
    color:white;
}

.header-card p{
    color:var(--bd-red)
}

.card-meta{
    padding: 0 0.6em;
    color: white;
}

.price-card{
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 1.25rem;
    color: var(--bg-orange);
}